{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.state_field.label }}<br>
            {{ form.state_field }}<br>
            {% for error in form.state_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.city_field.label }}<br>
            {{ form.city_field(size=16) }}<br>
            {% for error in form.city_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.prox_field.label }}<br>
            {{ form.prox_field }}<br>
            {% for error in form.prox_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <form action="" method="post">
        {{ zform.hidden_tag() }}
        <p>
            {{ zform.zip_field.label }}<br>
            {{ zform.zip_field(size=16) }}<br>
            {% for error in zform.zip_fielderrors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ zform.zprox_field.label }}<br>
            {{ zform.zprox_field }}<br>
            {% for error in zform.zprox_fielderrors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ zform.zip_submit() }}</p>
    </form>
<br>
    <div class="container">
        <a href="http://github.com/capnchamomile" alt="Check my Github">Steeped by Chamomile</a>
    </div>
    <div class="container">
        <a class="container" href="http://dgcoursereview.com">
            <img src="https://www.dgcoursereview.com/api/images/powered_by_dgcr.png" alt="DGCourseReview.com">
        </a>
    </div>
{% endblock %}